<launch>

    <arg name="testing_model"          default="true" />

    <rosparam command="load" file="$(find ros_cutball)/ros_cutball_param.yaml" />
    
    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
        </include>
    </group>

    <group ns="detect_color">
        <include file="$(find ros_cutball)/launch/detect_color.launch">
            <arg name="test"    default="$(arg testing_model)" />
        </include>
    </group>
    

    

</launch>