<launch>

    <arg name="testing_model"          default="true" />


    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
        </include>
    </group>

    <group ns="detect_color">
        <include file="$(find ros_cutball)/launch/detect_color.launch">
            <arg name="test"    default="true" />
        </include>
    </group>
    

    

</launch>