<!--This launch file is used for controling part to test-->
<launch>
 
    <arg name="test"   default="true"/>
    <param name = "threshold" value="24"/>
    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
        </include>
    </group>

    <group ns="detect_black">
        <node pkg="ros_cutball" name="detect_black" type="detect_black_node" args="yellow" output="screen"/>
    </group>

    <node pkg="rqt_reconfigure" name="rqt_adjust" type="rqt_reconfigure" /> 
    
    <group if="$(arg test)">
        <node name="image_view_black" pkg="image_view" type="image_view" args="image:=/image_convert/black"/>
        <node name="imshow" pkg="ros_cutball" type="Imshow" />
        <node name="image_view_raw" pkg="image_view" type="image_view" args="image:=/image_convert/Imshow" />
    <!-- stuff that will only be evaluated if foo is true -->
    </group>

</launch>